<ion-header>
  <ion-toolbar>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <!-- <h5 style="font-weight:bold;">Contact Us</h5><br> -->
 <!-- <ion-card>
  <img src="assets\icon\bil.jpg"/>
</ion-card> -->
 <ion-card>
<img src="assets\icon\fd.jpg"/>
 
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfam0WcBZO1ofCQsAWQ4fYDf1p_tIn7_zRnBsQ5mEEwK8eJow/viewform"> 
  <ion-button size="chatbubbles">Feed back</ion-button>
</a>
</ion-card>
</ion-content>
