<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <!-- <h5 style="font-weight:bold;">Contact Us</h5><br> -->
 <!-- <ion-card>
  <img src="assets\icon\bil.jpg"/>
</ion-card> -->
 <ion-card>
<img src="assets\icon\contact.jpg"/>
</ion-card>

<ion-card>
    <ion-card-header>
        <h5>Bhilwara Infotechnology Limited</h5>
      <ion-card-subtitle><ion-icon name="pin"></ion-icon> #244, Fortune Summit Business Park</ion-card-subtitle>
      <ion-card-subtitle><ion-icon name="pin"></ion-icon>1st Floor, Hosur Road </ion-card-subtitle>
      <ion-card-subtitle><ion-icon name="pin"></ion-icon>Near Silk Board Junction</ion-card-subtitle>
      <ion-card-subtitle><ion-icon name="pin"></ion-icon>Bengaluru, India – 560068.</ion-card-subtitle>
      <ion-card-subtitle><ion-icon name="call"></ion-icon>Phone: +91-80-46306666</ion-card-subtitle>
      <ion-card-subtitle><ion-icon name="mail"></ion-icon>e-mail: info@bhilwarainfo.com</ion-card-subtitle>
      
    </ion-card-header>
</ion-card>



 <ion-card>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfam0WcBZO1ofCQsAWQ4fYDf1p_tIn7_zRnBsQ5mEEwK8eJow/viewform"> 
  <ion-button size="full">Feed back</ion-button>
</a>
</ion-card>
</ion-content>
