.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
} 
 
#demotext {
  color: #FFFFFF;
  background: #ece9e9;
  text-shadow: 3px 5px 2px #474747;
  color: #FFFFFF;
  background: #ece9e9;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }

  ion-card.adv-map p {
    font-size: 0.7em !important;
  }
  
  button[fab].fab-map {
    top: calc(100% - 35px);
    z-index: 50;
  }
  
  .item-bold {
    font-weight: bold;
  }
  
  ion-content.cards-bg {
    background-color: #f4f4f7;
  }
  .social-cards ion-col {
    padding: 0;
  }