.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
} 

#demotext {
  color: #FFFFFF;
  background: #ece9e9;
  text-shadow: 3px 5px 2px #474747;
  color: #FFFFFF;
  background: #ece9e9;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase
  }